.env
*.env
__pycache__/
statsbomb_cache/
.ipynb_checkpoints/
full_season_events.parquet
passes_mens_europe_15_16.csv
premierleague_1516_passes_df.csv
/App/venv/
/venv/
Everton Passing Analysis using Expected Pass - Technical Task - Victoria Friss de Kereki.docx